%h1= movie.title
.jumbotron
  .text-center
    ="Overview: #{@overview}"
  .text-center
    =image_tag(@poster_url)
  .text-center
    ="Rating: #{@rating}"
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(movie), class: 'btn btn-sm btn-default'
